@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Firstname"></label>
                <input asp-for="Input.Firstname" class="form-control" />
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Lastname"></label>
                <input asp-for="Input.Lastname" class="form-control" />
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Team"></label>
                <input asp-for="Input.Team" class="form-control" />
                <span asp-validation-for="Input.Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <input asp-for="Input.Role" class="form-control" />
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Image"></label><br />
                <span> Select image to upload: </span>
                <input asp-for="Input.Image" type="file" name="file" accept=".png, .pdf, .jpg, .jpeg, .gif" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
