@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr/>
<strong>Development Team</strong>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ahmed Shamiss</td>
                <td><abbr title="Phone">P:</abbr> (689) 571-2011</td>
            </tr>
            <tr>
                <td>Dakota Fisher</td>
                <td><abbr title="Phone">P:</abbr> (306) 539-5729</td>
            </tr>
            <tr>
                <td>Christian John</td>
                <td><abbr title="Phone">P:</abbr> (306) 450-1699</td>
            </tr>
            <tr>
                <td>Evan Geissler</td>
                <td><abbr title="Phone">P:</abbr> (306) 570-8292</td>
            </tr>
            <tr>
                <td>Jeremy Cross</td>
                <td><abbr title="Phone">P:</abbr> (306) 535-7629</td>
            </tr>
            <tr>
                <td>Taylen Jones</td>
                <td><abbr title="Phone">P:</abbr> (306) 737-9879</td>
            </tr>
        </tbody>
    </table>

    <address>
        <strong>GitHub:</strong> <a href="https://github.com/OmegaHelix/notcool">https://github.com/OmegaHelix/notcool</a><br />
        <strong>Support:</strong> <a href="mailto:dakotof@sasktel.net">dakotof@sasktel.net</a><br />
        <strong>Marketing:</strong> <a href="mailto:chrizj9@gmail.com">chrizj9@gmail.com</a>
    </address>
