@{
    Layout = "/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h2>Manage your account</h2>
        <h5>Change your account settings</h5>
        <hr/>
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
