
@CHARSET "UTF-8";
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: underline;
        color: #fff;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins-Regular;
    margin: 0px;
    color: #fff;
}

p, label {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #fff;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

label {
    margin: 0;
    display: block;
}

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    input:focus:-ms-input-placeholder {
        color: transparent;
    }

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #e5e5e5;
    text-decoration: none;
}

.txt3 {
    font-size: 25px;
    font-weight: bold;
}

.home-padding {
    padding-left: 15px;
}

.user_name_display {
    font-size: 16px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.p-t-90 {
    padding-top: 90px;
}

.p-t-30 {
    padding-top: 20px;
}

.notMember {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.text-center {
    text-align: center !important;
}

.wrap-user-image {
    width: 245px;
    height: 140px;
    padding: 10px 62px;
}

.small_logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.header_logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 3px;
}

.user_image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user_post_content {
    position: relative;
    top: -60px;
    left: 60px;
    width: 530px;
}

.user_post_bar {
    position: relative;
    left: 60px;
    display: inline-block;
    min-width: 80px
}

.header_bar {
    display: inline-flex;
}

.icon_spacing {
    padding: 0px 10px;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}

.wrap-image100 {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #4d004d, #b224ef);
    background: -o-linear-gradient(top, #4d004d, #b224ef);
    background: -moz-linear-gradient(top, #4d004d, #b224ef);
    background: linear-gradient(top, #4d004d, #b224ef);
}

.wrap-body100 {
    width: 700px;
    top: 40px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #4d004d, #b224ef);
    background: -o-linear-gradient(top, #4d004d, #b224ef);
    background: -moz-linear-gradient(top, #4d004d, #b224ef);
    background: linear-gradient(top, #4d004d, #b224ef);
    z-index: -1;
}

.wrap-user-details100 {
    width: 245px;
    height: 500px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #4d004d, #b224ef);
    background: -o-linear-gradient(top, #4d004d, #b224ef);
    background: -moz-linear-gradient(top, #4d004d, #b224ef);
    background: linear-gradient(top, #4d004d, #b224ef);
    padding: 5px;
    position: absolute;
    top: 35px;
    left: 15px;
    z-index: -1;
}

.wrap-header100 {
    width: 100%;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #4d004d, #b224ef);
    background: -o-linear-gradient(top, #4d004d, #b224ef);
    background: -moz-linear-gradient(top, #4d004d, #b224ef);
    background: linear-gradient(top, #4d004d, #b224ef);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    height: 35px;
}

.wrap-login-signup100 {
    width: 25%;
    float: right;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #4d004d, #b224ef);
    background: -o-linear-gradient(top, #4d004d, #b224ef);
    background: -moz-linear-gradient(top, #4d004d, #b224ef);
    background: linear-gradient(top, #4d004d, #b224ef);
    /*position: -webkit-sticky; /* Safari */
    position: absolute;
    top: 5px;
    left: 75%;
    height: 30px;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-family: poppins-medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

.wrap-post50 {
    text-align: center;
    left: 42%;
}

.repost-wrap-input100 {
    width: 90%;
    position: relative;
    left: 60px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

.wrap-post100 {
    margin-top: 50px;
}

.wrap-textarea100 {
    margin-top: 50px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
}

.textarea100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 0px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #fff;
    }

    .focus-input100::after {
        font-family: Material-Design-Iconic-Font;
        font-size: 22px;
        color: #fff;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 6px;
        left: 0px;
        padding-left: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

.input100:focus {
    padding-left: 5px;
}

    .input100:focus + .focus-input100::after {
        top: -22px;
        font-size: 18px;
    }

    .input100:focus + .focus-input100::before {
        width: 100%;
    }

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
    padding-bottom: 35px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
}

    .label-checkbox100::before {
        content: "\f26b";
        font-family: Material-Design-Iconic-Font;
        font-size: 13px;
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background: #fff;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .input-checkbox100:checked + .label-checkbox100::before {
        color: #555555;
    }


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #4d004d, #b224ef);
    background: -o-linear-gradient(bottom, #4d004d, #b224ef);
    background: -moz-linear-gradient(bottom, #4d004d, #b224ef);
    background: linear-gradient(bottom, #4d004d, #b224ef);
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: #fff;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        color: #fff;
    }

        .login100-form-btn:hover:before {
            opacity: 0;
        }

/*--------------------------------*/
.small-signup100-form-btn {
    font-family: Poppins-Medium;
    color: #000000;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

    .small-signup100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #fff;
        justify-content: center;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .small-signup100-form-btn:hover {
        color: #fff;
        text-decoration: none;
        background: #9152f8;
        background: -webkit-linear-gradient(bottom, #4d004d, #b224ef);
        background: -o-linear-gradient(bottom, #4d004d, #b224ef);
        background: -moz-linear-gradient(bottom, #4d004d, #b224ef);
        background: linear-gradient(bottom, #4d004d, #b224ef);
    }

        .small-signup100-form-btn:hover:before {
            opacity: 0;
        }


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}

