@using Microsoft.AspNetCore.Identity
@using eIdeas.Areas.Identity.Data

@inject SignInManager<eIdeasUser> SignInManager
@inject UserManager<eIdeasUser> UserManager

@*@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav mx-auto flex-column">
        <li class="nav-item" style="width:100%;">
            <a class="btn btn-lrg btn-primary" style="width:100%;" asp-area="" asp-controller="Ideas" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lrg btn-primary " asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lrg btn-primary " asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lrg btn-primary " asp-area="" asp-controller="Ideas" asp-action="Index">Ideas</a>
        </li>
    </ul>


}*@
