<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eIdeas</title>

    <!-- Files to use in the Dev environment -->
    <environment include="Development">
        <!-- Bootstrap 4 CSS using CDN, fallback to Project Copy -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap4/bs4.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <!-- Bootstrap 4 + Popper + JQuery Bundle using CDN, fallback to Project Copy -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

        <!-- Site Custom CSS -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <!-- Files to use in the not Dev environments -->
    <environment exclude="Development">
        <!-- Bootstrap 4 CSS using CDN, fallback to Project Copy -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap4/bs4.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <!-- Site Custom CSS -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="padding-right:2%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">eIdeas</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Ideas" asp-action="Index">Ideas</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div id="BodyContainer" style="margin-right:1%;margin-left:1%;margin-top:1%;">

        <div class="container body-content" style="width:100%">
            <div class="row">
                <div class="col-lg-2" style="min-width:18rem;">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <partial name="_UserCardPartial" />
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="row">
                        <div class="col-xs-12" style="text-align:center;width:100%;padding-right:0%;">
                            <partial name="_HorizontalNavPartial" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-9" style="padding-right:0%; margin-left:4%;margin-right:4%">
                    @RenderBody()
                </div>
            </div>
            <hr />
            <footer class="navbar-fixed-bottom">
                <p>&copy; 2018 - eIdeas</p>
            </footer>
        </div>
    </div>
    <!-- Files to use in the Dev environment -->
    <environment include="Development">
        <!-- Bootstrap 4 + Popper + JQuery Bundle using CDN, fallback to Project Copy -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap4/jsbundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <!-- Site JavaScript -->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <!-- Files to use in the Non Dev environment -->
    <environment exclude="Development">
        <!-- Bootstrap 4 + Popper + JQuery Bundle using CDN, fallback to Project Copy -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap4/jsbundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <!-- Site JavaScript -->
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
