@using Microsoft.AspNetCore.Identity
@using eIdeas.Areas.Identity.Data
@inject SignInManager<eIdeasUser> SignInManager
@inject UserManager<eIdeasUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="card" style="margin:0 auto; width: 18rem;">
        <img class="rounded-circle card-img-top" style="width:100%; padding:1rem; min-height:280px; flex-shrink: 0;border: 1px solid transparent;" src="~/images/svg/nws_GodOfWar13.jpg" />
        <div class="card-body" style="margin:0 auto; width: 18rem; padding-top: 0rem;">
            <h4 class="mx-auto text-center card-title h4">@UserManager.GetUserAsync(User).Result.Firstname @UserManager.GetUserAsync(User).Result.Lastname</h4>
            <ul class="nav mx-auto flex-column">
                <li class="nav-item" style="width:100%; padding-bottom:0.2rem;flex: 1 1 auto;">
                    <a class="btn btn-primary" style="width:100%;" asp-area="" asp-controller="Ideas" asp-action="Index">Home</a>
                </li>
                <li class="nav-item" style="width:100%; padding-bottom:0.2rem;flex: 1 1 auto;">
                    <a class="btn btn-primary " style="width:100%;" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item" style="width:100%; padding-bottom:0.2rem;flex: 1 1 auto;">
                    <a class="btn btn-primary " style="width:100%;" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item" style="width:100%; padding-bottom:0.2rem;flex: 1 1 auto;">
                    <a class="btn btn-primary " style="width:100%;" asp-area="" asp-controller="Ideas" asp-action="Index">Ideas</a>
                </li>
            </ul>
        </div>
    </div>
}
