@model IEnumerable<eIdeas.Models.Comment>
@using Microsoft.AspNetCore.Identity
@using eIdeas.Areas.Identity.Data
@inject SignInManager<eIdeasUser> SignInManager
@inject UserManager<eIdeasUser> UserManager



<span>
    <img src="~/images/svg/chat.svg" alt="ASP.NET" data-toggle="popover" data-container="body"
         data-placement="right" data-html="true" id="@ViewData["id"]" />
</span>
<script>
    $("[data-toggle=popover]").each(function (i, obj) {
        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id')
                return $('#popover-content-' + id).html();
            }
        });
    });
</script>
<div id="popover-content-@ViewData["id"]" hidden>
    <form asp-controller="Comments" asp-action="CreateComment">
        <input type="hidden" name="IdeaID" value="@ViewData["id"]" />
        <div class="form-group">
            <label name="UserComment" class="control-label"></label>
            <textarea name="UserComment" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>

